.weather {
  border: 2px solid #000;
  padding: 20px;
  border-radius: 10px;
}

.weather__title {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 20px;
}

.weather__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding: 5px 0;
}

.my-node-enter {
  opacity: 0;
  transform: scale(0.9);
}
.my-node-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
